body{
	background-color:#ff8080;
	font:1em Helvetcia;
	width:100%;
}
.card{
	width:420px;
	margin:25px auto;
	margin-top:50px;
}
.card-body{
	width:420px;
	margin:25px auto;
	margin-top:50px;
}
.card-header{
	width:420px;
	margin:25px auto;
	margin-top:50px;
}
#container{
	width:420px;
	margin:25px auto;
	margin-top:50px;
}
.whysign{
	float:left;
	background-color:white;
	width:420px;
	height:528px;
	border-radius:0 5px 5px 0;
	padding-top:20px;
	padding-right:20px;
}
.whysignLogin{
	float:left;
	background-color:white;
	width:480px;
	height:347px;
	border-radius:0 5px 5px 0;
	padding-top:20px;
	padding-right:20px;
}
.whyforgotPassword{
	float:left;
	background-color:white;
	width:480px;
	height:480px;
	border-radius:0 5px 5px 0;
	padding-top:20px;
	padding-right:20px;
}
.signup{
	float:left;
	background-color:white;
	width: 800px;
	border-radius:5px 0 0 5px;
	padding:30px 20px;
	text-align:center;
}
[type=text], [type=email], [type=number], [type=password], select, option{
	display:block;
	margin:0 auto;
	width:50%;
	border:0;
	border-bottom:1px solid rgba(0,0,0,.2);
	height:45px;
	line-height:45px;
	margin-bottom:10px;
	font-size:1em;
	color:black;
}
[type=submit]{
	padding-top:25px;
	width:30%;
	border:0;
	background-color:#0080FF;
	border-radius:5px;
	height:50px;
	color:white;
	font-weight:400;
	font-size:1em;
}
[type='text']:focus{
	outline:none;
	border-color:#53CACE;
}
h1{
	color:red;
	font-weight:900;
	font-size:2.5em;
}
p{
	color:black;
	font-weight:1.2em;
	margin-top:50px 0 50px 0;
}
span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}

span:hover {
  color: #53CACE;
}

p:nth-of-type(2) {
  font-size: 1em;
}
